body { 
	background-color: #75ABBC;
    padding-top: 60px; 
}
.featuredItem {
	width:302px;
}
.navbar {
	max-height: 60px;
	/*background-color: #D9DADB;*/
	padding-bottom: 0px;
}
.homeTitle{
	/*color: red;*/
	color: #071013;
} 
.features {
	color: #871616;
	/*color: #DB5461;*/
}
.pipe {
	font-size: 16px;
	font-weight: bold;
}
/*.userAccount {
	padding-top: 500px;
}*/
.accountBox {
	/*max-width: 400px;
	max-height: 500px;*/
	margin-top: 100px;	
}
.navColor {
	color: black;
}
.adForm {
	margin-top: 120px;
}

.oneItemDiv {
	padding-top: 60px;
}

/*===================================Items CSS==============================*/
	/*----------image css---------*/
	.shadow {
		margin: 10px;
		margin-top: 30px;
		box-shadow: 3px 6px 5px #494949;
		border-radius: 10px;
	}
	.itemInfoBox {
		margin-top: 0px;
		margin-bottom: 5px;
		margin-left: 10px;
		margin-right: 10px;
		width:305px;
		height:250px;
		/*background-color: darkgrey;*/
		/*border-radius: 10px;*/
		/*box-shadow: 3px 6px 5px #888888;*/
	}
	
	.itemInfo {
		padding: 5px;
		max-width: 290px;
	}
	.editThis {
		background-color: #DFE0E2;
		/*min-height:500px;*/
		max-height:520px;
		border-radius: 10px;
		margin:10px;
		width: 350px;
	}
	.accountGrey {
		background-color: #DFE0E2;
		/*min-height:500px;*/
		max-height:520px;
		border-radius: 10px;
		margin:10px;
		/*max-width: px;	}*/

	/*========= show page css ========*/
	.showPage {
		background-color: #8AA29E;
		/*min-height:500px;*/
		max-height:520px;
		border-radius: 10px;
		margin:10px;
			}
	.showBox {
		
		margin-top: 0px;
		margin-bottom: 5px;
		margin-left: 10px;
		margin-right: 10px;
	/*	width:305px;
		height:250px;*/
	}

	.userItems {
		margin-right: -100px;
	}
	
	.row {
		padding-top: 50px;
	}
	/*============= login page =============*/



























